{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <!--<link rel="stylesheet" href="style.css"> -->
    <title>{% block title %}Victor Site{% endblock %}</title>
</head>

<body>
  <div class = 'container'>
    <nav class="navbar">
      <div>
        <a class="active" href="/">Home</a>
        <a href="/">Home</a>
        <a href="/">Home</a>
        <div class="dropdown">
          <button class="dropbtn">Decades
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">
            <a href="/history">1900</a>
            <a href="/history"">1910</a>
            <a href="/history">1920</a>
          </div>
        </div>
    </nav>
  </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
