{% load static %}
{% load template_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'style.css' %}"> 
    <!--<link rel="stylesheet" href="style.css"> -->
    <title>{% block title %}Victor Site{% endblock %}</title>
</head>

<body>

  {% include "navbar.html" %}

    <div id="content">
        {% block content %}{% endblock %}
    </div>
</body>
</html>

<!-- <script type="text/javascript">
var container = document.getElementById("navbar_links");
var links = container.getElementsByTagName("a");
const queryString = window.location;
console.log(queryString);

for (var i = 0; i < links.length; i++) {
  links[i].addEventListener("click", function() {
    console.log("inside onclick")
    var current = document.getElementsByClassName("active");
    current[0].className = "";
    this.className = "active";
  });
}
</script> -->
