{% extends "base.html" %}

{% block title %}{{page_name}}{% endblock %}

{% block content %}
<div class="content_container">
    {% include "toc.html" %}
        
    {% for chapter in page.children.all %}
    <h1 id={{chapter.url_name}}>{{ chapter.name }}</h1>
    {% if chapter.is_html %}
        {{ chapter.text|safe }}
    {% else %}
        {{ chapter.text|linebreaks }}
    {% endif %}
    
        {% for heading in chapter.children.all %}
            <h2 id={{heading.url_name}}>{{ heading.name }}</h2>
            {% if heading.is_html %}
                {{ heading.text|safe }}
            {% else %}
                {{ heading.text|linebreaks }}
            {% endif %}
             
            {% for level2heading in heading.children.all %}
                <h3 id={{level2heading.url_name}}>{{ level2heading.name }}</h3>
                {% if level2heading.is_html %}
                    {{ level2heading.text|safe }}
                {% else %}
                    {{ level2heading.text|linebreaks }}
                {% endif %}
                
                {% for level3heading in level2heading.children.all %}
                <h3 id={{level3heading.url_name}}>{{ level3heading.name }}</h3>
                    {% if level3heading.is_html %}
                        {{ level3heading.text|safe }}
                    {% else %}
                        {{ level3heading.text|linebreaks }}
                    {% endif %}

                    {% for level4heading in level3heading.children.all %}
                        <h3 id={{level4heading.url_name}}>{{ level4heading.name }}</h3>
                        {% if level4heading.is_html %}
                            {{ level4heading.text|safe }}
                        {% else %}
                            {{ level4heading.text|linebreaks }}
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            {% endfor %}
        {% endfor %}
        {% for table in chapter.tables.all %}
            {{ table.html|safe }}
            {% endfor %}
    {% endfor %}
    
</div>

{% endblock %}