<div id="toc_container">
    <div id="toc_internal">
        <h2 class="toc_title">Съдържание</h2>
     
        <ul>
          {% for chapter in all_chapters %}
          <li><a href = #{{ chapter.url_name }}>{{ chapter.name }}</a>
            <ul>
    
        {% for heading in chapter.children.all %}
        <li><a href = #{{ heading.url_name }}>{{ heading.name }}</a>
          <ul>
             
            {% for level2heading in heading.children.all %}
            <li><a href = #{{ level2heading.url_name }}>{{ level2heading.name }}</a>
              <ul>
                
                {% for level3heading in level2heading.children.all %}
                <li><a href = #{{ level3heading.url_name }}>{{ level3heading.name }}</a>
                  <ul>

                    {% for level4heading in level3heading.children.all %}
                    <li><a href = #{{ level4heading.url_name }}>{{ level4heading.name }}</a>
                    </ul></li>
                    {% endfor %}
                  </ul></li>
                {% endfor %}
              </ul></li>
            {% endfor %}
          </ul></li>
        {% endfor %}
      </ul></li>
    {% endfor %}
    </ul>
    </div>
</div>

<style>

#toc_container {
  width: 45%;
  background-color: rgb(122, 23, 23);
  padding: 10px;
  overflow: auto;
}

#toc_internal {
    display: inline-block;
    width: 95%;
  margin: 0px;
  background-color: white;
  padding-bottom: 5%;
  padding-right: 5%;
}

#toc_container ul {
  margin: 1%;
}
#toc_container li {
  margin: 0 0 0.25em 0;
}

#toc_container a {
    font-family: 'Verdana', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: #000000;
  text-decoration: none;
}
#toc_container a:hover, #toc_container a:active {
  text-decoration: underline;
}
.toc_title {
  font-family: Haettenschweiler, 'Arial Narrow', sans-serif;
  font-weight: 800;
  text-align: center;
}

</style>